@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
}

.header,
.awesome {
    background-color: #1f2937;
    display: flex;
    padding-left: 75px;
    padding-right: 75px;
}

.header h3 {
    font-size: 24px;
    color: #f9faf8;
    flex: 3 1 0;
}

.header p {
    font-size: 18px;
    font-weight: 100;
    color: #e5e7eb;
    flex: 1;
}

.awesome {
    padding-bottom: 50px;
}

.awesome-text {
    flex-direction: column;
}

.awesome-text h2 {
    font-size: 48px;
    font-weight: bold;
    color: #f9faf8;
    flex: 1;
}

.awesome-text p {
    font-size: 18px;
    font-weight: 150;
    color: #e5e7eb;
    padding-right: 25px;
    flex: 1;
}

.awesome-text button {
    background-color: #3882f6;
    color: #e5e7eb;
    padding: 5px 20px;
    border-radius: 10px;
    flex: 1;
}

.awesome img {
    margin-top: 50px;
    height: 200px;
    width: 900px;
    flex: auto;
}

.random-info {
    display: flex;
    flex-direction: column;
}

.random-info h3 {
    font-size: 36px;
    font-weight: 1000;
    color: #1f2937;
    flex: 1;
    justify-content: center;
}

.module-section {
    display: flex;
    justify-content: center;
}

.module {
    display: flex;
    flex-direction: column;
}

.module img {
    border-radius: 15px;
    height: 150px;
    width: 150px;
    flex: auto;
}

.module p {
    color: #1f2937;
}

.quote {
    background-color: #e5e7eb;
}

.quote-text {
    color: #1f2937;
    padding: 50px 200px;
}

.quote-text p {
    flex: 1;
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
}

.quote-text strong {
    flex: 1;
    justify-content: right;
}